In [24]:
import pandas as pd

product_ids = pd.read_csv('data/Amazon/amazon_categories.csv')
amazon_products = pd.read_csv('data/Amazon/amazon_products.csv')
amazon_values = pd.read_csv('data/Amazon/amazon_listing_category_counts.csv')

walmart_products = pd.read_csv('data/Walmart/walmart_products.csv')

In [22]:
amazon_values

                                         Categories  Count
0                                   Girls' Clothing  28619
1                                    Boys' Clothing  24660
2                                      Toys & Games  20846
3                                       Men's Shoes  19822
4                                  Women's Handbags  18994
..                                              ...    ...
243                     Smart Home: Lawn and Garden     76
244           Smart Home: Voice Assistants and Hubs     50
245                   Smart Home: New Smart Devices     42
246                                    Garment Bags     40
247  Smart Home Thermostats - Compatibility Checker     22

[248 rows x 2 columns]

In [37]:
walmart_products['Category Filtered'] = walmart_products['Category'].apply(lambda x: x.split(' | ')[0] if isinstance(x, str) else x)

In [38]:
walmart_values = walmart_products['Category Filtered'].value_counts()

In [42]:
treemap_data = walmart_products[['Sale Price','Category Filtered']].groupby('Category Filtered').agg(['sum', 'count']).reset_index()

In [48]:
treemap_data.columns = ['Category', 'Sum Sales', 'Count']
treemap_data.sort_values('Count', ascending=False).to_csv('data/Walmart/walmart_listing_category_counts.csv', index=False)